<div id="<%= dom_id bike_service %>">
    <h2><%= @bike_service.service_name %></h2>
    <p class="service-data"><span>Data: </span><%= @bike_service.service_date %></p>
    <p class="service-description"><%= @bike_service.service_description %></p>
</div>
