<p style="color: green"><%= notice %></p>

<h1>Bike services</h1>

<div id="bike_services">
  <% @bike_services.each do |bike_service| %>
    <%= render bike_service %>
    <p>
      <%= link_to "Show this bike service", bike_service %>
    </p>
  <% end %>
</div>

<div class="buttons">
  <a href="/bike_services/new?bike=<%= @bike['id'] %>"><button class="primary">New service</button></a>
  <a href="/profile"><button class="secondary">Back to profile</button></a>
</div>