<h1>New bike service</h1>

<%= render "form", bike_service: @bike_service %>

<br>

<div>
  <%= link_to  bike_services_path(bike: @bike.id) do %>
    <button class="secondary">Back to bike services</button>
  <% end %>
</div>
