<h1>Editing chain</h1>

<%= render "form", chain: @chain %>

<div class="chain-options">
  <div class="main-options">
    <a href="/chains?bike=<%= @chain.bike['id'] %>"><button class="primary">Back to chains</button></a>
    <%= button_to "Delete Chain", @chain, method: :delete, class: "secondary" %>
  </div>
</div>
