<h1>User Profile</h1>
<% if @params.present? %>
    <div class="profile-card">
        <div class="profile-title">
            <h2>
                <%= @txt %>
                    <%= @curr_user_name %>
            </h2>
            <p>
                <%= @athlete_city %>
            </p>
        </div>
        <%= image_tag @params['athlete']['profile'], class:"profile-img" %>
    </div>
    <div class="stat-container">
        <div class="device"> <!--all window-->
            <div class="owl-carousel" id="owl-demo">

                <div class="item">
                    <div class="planet">
                        <img class="main_pictures"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468859826/forCodePen/mobileSlider/firstSlider/main.png"
                            alt="" />
                    </div>
                    <div class="orbit_1 animation">
                        <img class="pictures"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468859826/forCodePen/mobileSlider/firstSlider/orbit_1.png"
                            alt="" />
                    </div>
                    <div class="orbit_2">
                        <img class="pictures animation_2"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468859826/forCodePen/mobileSlider/firstSlider/orbit_2.png"
                            alt="" />
                    </div>
                    <div class="mid">
                        <h1>Welkome to the Webmodeler</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="mountains">
                        <img class="mountains_img"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468860109/forCodePen/mobileSlider/secondSlider/main.png"
                            alt="" />
                    </div>
                    <div class="orbit_2">
                        <img class="pictures animation_3"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468860109/forCodePen/mobileSlider/secondSlider/orbit_1.png"
                            alt="" />
                    </div>
                    <div class="mid">
                        <h1>Welkome to the Webmodeler</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="paper">
                        <img class="paper_img"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468860233/forCodePen/mobileSlider/thirdSlider/main_3.png"
                            alt="" />
                        <img class="lines"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468860233/forCodePen/mobileSlider/thirdSlider/lines.png"
                            alt="" />
                    </div>
                    <div class="border">
                        <img class="pictures"
                            src="https://res.cloudinary.com/lenadi07/image/upload/v1468860232/forCodePen/mobileSlider/thirdSlider/border.png"
                            alt="" />
                    </div>
                    <div class="mid">
                        <h1>Welkome to the Webmodeler</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

            </div>

            <div class="btm customNavigation">
                <button type="button" name="button"><a class="btn next">Next</a></button>
            </div>
        </div>
    </div>
    <% end %>

        <Script>
            $(document).ready(function () {
                var owl = $("owl-demo");
                $("#owl-demo").owlCarousel({

                    navigation: false, // Show next and prev buttons
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    singleItem: true

                });
                $(".next").click(function () {
                    $("#owl-demo").trigger("owl.next");
                })
            });
        </Script>