<h1>User Profile</h1>
<% if @params.present? %>
    <div class="profile-card">
        <div class="profile-title">
            <h2><%= @txt %> <%= @curr_user_name %></h2>
            <p><%= @athlete_city %></p>
        </div>
        <%= image_tag @params['athlete']['profile'], class:"profile-img" %>
    </div>
    <div class="stat-container">
        <div class="slider">
            <div class="slider-inner">
              <div class="slide-img">
                <i class="fas fa-futbol"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-football-ball"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-golf-ball"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-biking"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-basketball-ball"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-hockey-puck"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-swimmer"></i>
              </div>
            </div>
          </div>
    </div>
<% end %>