<h1>User Profile</h1>
<% if @params.present? %>
    <div class="profile-card">
        <div class="profile-title">
            <h2>
                <%= @txt %>
                <%= @curr_user_name %>
            </h2>
            <p>
                <%= @athlete_city %>
            </p>
        </div>
        <%= image_tag @params['athlete']['profile'], class:"profile-img" %>
    </div>
    <div class="stat-container">
        <div class="gallery">
            <div class="gallery-item" id="elem-1">
                <h2>Your stats</h2>
            </div>
            <div class="gallery-item" id="elem-2">
                <h2>Your Bikes</h2>
            </div>
        </div>
        <div class="dots-container">
            <a href="#elem-1"><div class="dot"></div></a>
            <a href="#elem-2"><div class="dot"></div></a>
        </div>
    </div>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const dotElements = document.querySelectorAll(".dot");
    const galleryItems = document.querySelectorAll(".gallery-item");
    const gallery = document.querySelector(".gallery");

    function isElementInViewport(el) {
        const galleryRect = gallery.getBoundingClientRect();
        const elementRect = el.getBoundingClientRect();
        return (
            elementRect.left >= galleryRect.left &&
            elementRect.right <= galleryRect.right
        );
    }

    dotElements.forEach(function(dotElement) {
        if (dotElements.length > 0) {
            dotElements[0].style.transform = "scale(1.5)";
        }
    });

    function updateDotScale() {
        galleryItems.forEach(function(galleryItem, index) {
        if (isElementInViewport(galleryItem)) {
            dotElements[index].style.transform = "scale(1.5)";
        } else {
            dotElements[index].style.transform = "scale(1)";
        }
        });
    }

        gallery.addEventListener("scroll", updateDotScale);
        updateDotScale();
    });
</script>