<h1>User Profile</h1>
<% if @params.present? %>
    <div class="profile-card">
        <div class="profile-title">
            <h2>
                <%= @txt %>
                <%= @curr_user_name %>
            </h2>
            <p>
                <%= @athlete_city %>
            </p>
        </div>
        <%= image_tag @params['athlete']['profile'], class:"profile-img" %>
    </div>
    <div class="stat-container">
        <div class="gallery">
            <div class="gallery-item" id="elem-1">
                <h2>Your stats</h2>
            </div>
            <div class="gallery-item" id="elem-2">
                <h2>Your Bikes</h2>
            </div>
        </div>
        <div class="dots-container">
            <a href="#elem-1"><div class="dot"></div></a>
            <a href="#elem-2"><div class="dot"></div></a>
        </div>
    </div>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const dotElements = document.querySelectorAll(".dot");
    dotElements.forEach(function(dotElement) {
    dotElement.addEventListener("click", function() {
        this.style.transform = "scale(1.5)";
        dotElements.forEach(function(otherDotElement) {
            if (otherDotElement !== dotElement) {
            otherDotElement.style.transform = "scale(1)";
            }
        });
        });
    });
        if (dotElements.length > 0) {
            dotElements[0].style.transform = "scale(1.5)";
        }
    });
</script>