<h1>User Profile</h1>
<% if @params.present? %>
    <div class="profile-card">
        <div class="profile-title">
            <h2><%= @txt %> <%= @curr_user_name %></h2>
            <p><%= @athlete_city %></p>
        </div>
        <%= image_tag @params['athlete']['profile'], class:"profile-img" %>
    </div>
    <div class="stat-container">
        <div class="slider">
            <div class="slider-inner">
              <div class="slide-img">
                <i class="fas fa-futbol"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-football-ball"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-golf-ball"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-biking"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-basketball-ball"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-hockey-puck"></i>
              </div>
              <div class="slide-img">
                <i class="fas fa-swimmer"></i>
              </div>
            </div>
          </div>
    </div>
<% end %>

<Script>
let slider = document.querySelector(".slider");
let innerSlider = document.querySelector(".slider-inner");

let pressed = false;
let startx;
let x;

console.log("loaded JS");

slider.addEventListener("mousedown", (e) => {
  pressed = true;
  startx = e.offsetX - innerSlider.offsetLeft;
  console.log(
    `OffsetX: ${e.offsetX}, InnerSlider OffsetLeft: ${innerSlider.offsetLeft}`
  );
  slider.style.cursor = "grabbing";
});

slider.addEventListener("mouseenter", () => {
  slider.style.cursor = "grab";
});

slider.addEventListener("mouseup", () => {
  slider.style.cursor = "grab";
});

window.addEventListener("mouseup", () => {
  pressed = false;
});

slider.addEventListener("mousemove", (e) => {
  if (!pressed) return;
  e.preventDefault();

  x = e.offsetX;
  console.log(`x: ${x}, startx: ${startx}`);
  console.log(`Diff: ${x - startx}`);

  innerSlider.style.left = `${x - startx}px`;
  checkBoundary();
});

function checkBoundary(x, startx) {
  let outer = slider.getBoundingClientRect();
  let inner = innerSlider.getBoundingClientRect();

  if (parseInt(innerSlider.style.left) > 0) {
    innerSlider.style.left = "0px";
  }
  if (inner.right < outer.right) {
    innerSlider.style.left = `-${inner.width - outer.width}px`;
  }
}
</Script>