<h1>User Profile</h1>
<% if @params.present? %>
    <div class="profile-card">
        <div class="profile-title">
            <h2>
                <%= @txt %>
                <%= @curr_user_name %>
            </h2>
            <p>
                <%= @athlete_city %>
            </p>
        </div>
        <%= image_tag @params['athlete']['profile'], class:"profile-img" %>
    </div>
    <div class="stat-container">
        <div class="gallery">
            <div class="gallery-item" id="elem-1">
                <h2>Your stats</h2>
            </div>
            <div class="gallery-item" id="elem-2">
                <h2>Your Bikes</h2>
            </div>
        </div>
    </div>
    <div class="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
<% end %>