.new-chain-form {
    background: rgb(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
}

.form-field,
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-field input,
.form-group input {
    width: 170px;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}