.view-chain-stats {
    display: flex;
    flex-direction: column;
    color: #121212;
}

.chain-stat span {
    color: #121212;
}

.main-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.chain-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    background: rgba( 48, 111, 178, 0.15 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    padding: 20px;
}

.bike-km-chart {
    background: #1d1e19;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 30px;
}

.bike-km-chart h2 {
    color: #73fd2e;
}